.nextUpSongsContainer {
  padding-left: 20px;
  flex-grow: 1;
}
.postsList {
  padding: 10px 0;
  border-top: 1px solid var(--text-dark);
}
@media screen and (min-width: 800px) {
  .postsList {
    height: calc(100vh - 150px);
    overflow-y: scroll;
  }
}
