.btn {
  padding: 10px 16px;
  display: block;
  text-align: center;
  width: fit-content;
}
.curvedBtn {
  border-radius: 50%;
}
.primary {
  background-color: var(--primary-500);
  color: var(--text-100);
}
.secondary {
  background-color: var(--text-100);
  color: var(--background-900);
}
