.featuredPosts {
  padding: 20px;
  margin: 50px auto;
}
.posts {
  display: flex;
  flex-wrap: wrap;
}
.posts li {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 200px;
}
