.songActionBox {
  background-color: var(--background-700);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 20px 0;
  margin: 0 auto 30px;
  max-width: 500px;
}
.songActionBox > button,
.songActionBox > a {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}
